<div class="time-dropdown">
  <label [for]="id">{{ label }}</label>
  <div class="time-selectors">
    <select [id]="id + '-hour'"
            class="form-control"
            [value]="selectedHours"
            [disabled]="disabled"
            (change)="onHoursChange($event)">
      <option value="" disabled selected>Hour</option>
      @for (hour of hours; track hour) {
        <option [value]="hour">{{ formatHourDisplay(hour) }}</option>
      }
    </select>
   
    <select [id]="id + '-minute'"
            class="form-control"
            [value]="selectedMinutes"
            [disabled]="disabled"
            (change)="onMinutesChange($event)">
      <option value="" disabled selected>Min</option>
      @for (minute of minutes; track minute) {
        <option [value]="minute">{{ formatMinuteDisplay(minute) }}</option>
      }
    </select>
   
    <select [id]="id + '-period'"
            class="form-control"
            label=""
            [value]="selectedPeriod"
            [disabled]="disabled"
            (change)="onPeriodChange($event)">
      <option value="" disabled selected>AM/PM</option>
      <option value="AM">AM</option>
      <option value="PM">PM</option>
    </select>
  </div>
</div>